{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-12">
            <h2><a href="/algo-table">Algo table</a></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="/add-algo/" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="form-control-label" for="algo-name">Algo name</label>
                    <input class="form-control" id="algo-name" name="algo-name" required>
                </div>
                <div class="form-group row">
                    <label class="form-control-label" for="signal">Signal</label>
                    <input class="form-control" id="signal" name="signal" required>
                </div>
                <div class="form-group row">
                    <label class="form-control-label" for="trade">Trade</label>
                    <input class="form-control" id="trade" name="trade" required>
                </div>
                <div class="form-group row">
                    <label class="form-control-label" for="ticker">Ticker</label>
                    <input class="form-control" id="ticker" name="ticker" required>
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>

    {% if algo %}
        <div class="row">
            <div class="col-12">
                <h3>Saved algo: "<a href="/algo-table/{{ algo.name }}">{{ algo.name }}</a>"</h3>
                <h4>signal: {{ algo.signal }}</h4>
                <h4>trade: {{ algo.trade }}</h4>
                <h4>ticker: {{ algo.ticker }}</h4>
                <h4>average PnL: {{ algo.average_pnl }}</h4>
            </div>
        </div>
    {% endif %}
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>